TELEGRAM_TOKEN=your_telegram_bot_token_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODELS=stepfun/step-3.5-flash:free,nvidia/nemotron-3-super-120b-a12b:free,arcee-ai/trinity-large-preview:free,z-ai/glm-4.5-air:free,nvidia/nemotron-3-nano-30b-a3b:free,arcee-ai/trinity-mini:free,nvidia/nemotron-nano-12b-v2-vl:free,qwen/qwen3-coder:free,openai/gpt-oss-120b:free,meta-llama/llama-3.3-70b-instruct:free
OPENROUTER_MODEL_TIMEOUT_MS=7000
OPENROUTER_MAX_TOKENS=280
